-<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autonomous Watering App - Sigma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:100|BenchNine:300|Wire+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue-multiselect@2.0.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.0.0/dist/vue-multiselect.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>

<div id="root">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 add-plant-div">
                <input class="col-sm-12 add-plant-input" placeholder="Type the name of your plant" v-model="inputPlant.name" type="text">
                <input class="col-sm-12 add-plant-input" placeholder="Describe your plant" v-model="inputPlant.description" type="text">
                <input class="col-sm-12 add-plant-input" placeholder="How often does your plant need watering?" v-model="inputPlant.watering" type="text">
                <input class="col-sm-12 add-plant-input" placeholder="Insert an image url of your plant" v-model="inputPlant.imgUrl" type="text">
                <ul class="col-sm-12 radio-container">
                    <li>
                        <input value="vegetables" v-model="inputPlant.category" checked type="radio" name="1">
                        <label>Vegetable</label>
                        <div class="bullet">
                            <div class="line zero"></div>
                            <div class="line one"></div>
                            <div class="line two"></div>
                            <div class="line three"></div>
                            <div class="line four"></div>
                            <div class="line five"></div>
                            <div class="line six"></div>
                            <div class="line seven"></div>
                        </div>
                    </li>
                    <li>
                        <input value="wild plants" v-model="inputPlant.category" type="radio" name="1">
                        <label>Wild plant</label>
                        <div class="bullet">
                            <div class="line zero"></div>
                            <div class="line one"></div>
                            <div class="line two"></div>
                            <div class="line three"></div>
                            <div class="line four"></div>
                            <div class="line five"></div>
                            <div class="line six"></div>
                            <div class="line seven"></div>
                        </div>
                    </li>
                    <li>
                        <input value="flowers" v-model="inputPlant.category" type="radio" name="1">
                        <label>Flower</label>
                        <div class="bullet">
                            <div class="line zero"></div>
                            <div class="line one"></div>
                            <div class="line two"></div>
                            <div class="line three"></div>
                            <div class="line four"></div>
                            <div class="line five"></div>
                            <div class="line six"></div>
                            <div class="line seven"></div>
                        </div>
                    </li>
                </ul>
                <div class="form-not-valid" v-if="formNotValid === true">
                    Please complete each field to add your plant.
                </div>
                <button class="add-plant-button col-sm-12" @click="addPlant">Add plant to your collection</button>
            </div>
            <div class="col-xs-12 col-sm-8 plant-display-div">
                <button class="display-categorize-button" @click="fetchPlants" id="vegetables">Vegetables</button>
                <button class="display-categorize-button" @click="fetchPlants" id="wild plants">Wild plants</button>
                <button class="display-categorize-button" @click="fetchPlants" id="flowers">Flowers</button>
                <div class="col-sm-12 plant-div" v-for="plant in plantsToDisplay">
                    <div class="col-sm-12 plant-name-div">{{plant.name}}</div>
                    <div class="col-sm-12 plant-description-div">{{plant.description}}</div>
                    <div class="col-sm-12 plant-watering-div">{{plant.watering}}</div>
                    <div class="col-sm-12 plant-img-div"><img class="plant-img" :src="plant.imgUrl" :alt="plant.imgUrl"/></div>
                    <button :data-id="plant._id" class="col-sm-6 plant-remove-button" @click="removeOnePlant" title="Remove this plant from your collection">Remove</button>
                    <button :data-id="plant._id" class="col-sm-6 plant-edit-button" @click="(event) => {editPlant (event) }">Edit plant</button>
                </div>
            </div>
            <div v-if="editingPlant === true " class="edit-plant-div">
                <div class="edit-plant-content col-xs-12 col-sm-6">
                    <div class="col-xs-12">{{plantToEdit.name}}</div>
                    <input class="col-sm-12 add-plant-input" placeholder="Type the name of your plant" v-model="plantToEdit.name" type="text">
                    <input class="col-sm-12 add-plant-input" placeholder="Describe your plant" v-model="plantToEdit.description" type="text">
                    <input class="col-sm-12 add-plant-input" placeholder="How often does your plant need watering?" v-model="plantToEdit.watering" type="text">
                    <input class="col-sm-12 add-plant-input" placeholder="Insert an image url of your plant" v-model="plantToEdit.imgUrl" type="text">
                    <button @click="submitEditPlant" class="col-sm-5 edit-plant-button">Complete changes</button>
                    <button @click="quitEditPlant" class="col-sm-5 edit-plant-button">Cancel edit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

var url = 'https://acaciaallenii.lightrays.io/';
var main = new Vue ({
    el: '#root',
    data: {
        plantsToDisplay: [],
        inputPlant: {
            name: "",
            description: "",
            category: "vegetables",
            watering: "",
            imgUrl: ""
        },
        formNotValid: false,
        plantToEdit: {name: ""},
        editingPlant: false,
        options: ["Vegetables", "Wild plants", "Flowers"],
        plantsCategory: "vegetables"
    },
    methods: {

        addPlant: function () {
            let plantToAdd = this.inputPlant;
            if(plantToAdd.name.length === 0
            || plantToAdd.description.length === 0
            || plantToAdd.category.length === 0
            || plantToAdd.watering.lengt === 0
            || plantToAdd.imgUrl.length === 0) {
                this.formNotValid = true;
            } 
            else {
                this.formNotValid = false;
                this.apiCall(url + 'plants/add', 'POST', 'cors', new Headers({'Accept': 'application/json, text/plain, */*','Content-Type': 'application/json'}), JSON.stringify(plantToAdd))
                    .then((response) => {
                        this.inputPlant = {
                            name: "", 
                            description: "", 
                            category: "vegetables", 
                            watering: "", 
                            imgUrl: ""
                        }
                        this.fetchPlants();
                    });
            }
        },

        // Api call with ID
        editPlant: function (event) {
            let plantToEdit;
            let plantToEditId = event.target.getAttribute('data-id');
            for(var plant in this.plantsToDisplay){
                if(this.plantsToDisplay[plant]._id === plantToEditId) {
                    plantToEdit = this.plantsToDisplay[plant];
                    this.plantToEdit = plantToEdit;
                }
            }
            this.editingPlant = true;
        },

        quitEditPlant: function () {
            this.editingPlant = false;
        },

        fetchPlants: function () {
            this.apiCall(url + 'plants', 'GET', 'cors', new Headers(), {})
                .then((response) => this.plantsToDisplay = response);
        },
 
        removeOnePlant: function (event) {
            var idToRemove = event.target.getAttribute('data-id');
            this.apiCall(url + 'plants/remove', 'POST', 'cors', new Headers({'Accept': 'application/json, text/plain, */*','Content-Type': 'application/json'}), JSON.stringify({id: idToRemove}))
                .then((response) => this.fetchPlants());
        },

        submitEditPlant: function () {
            let updatedPlant = this.plantToEdit;
            this.apiCall(url + 'plants/edit', 'POST', 'cors', new Headers({'Accept': 'application/json, text/plain, */*','Content-Type': 'application/json'}), JSON.stringify({id: updatedPlant._id, plant: updatedPlant}))
                .then((response) => {
                    this.fetchPlants();
                    this.plantToEdit = {name: ""}
                    this.editingPlant = false;
                });
        },

        apiCall: function(url, method, mode, headers, body) {
            var req = new Request(url, {body: body, method: method, mode: mode, headers: headers});
            return fetch(req)
                .then(res=>res.text()).then(res=>JSON.parse(res))
                .catch(err=>console.log(err));
        }
    }
})
</script>
</body>
</html>