/********************GENERAL******************/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rebeccapurple;

}

::-webkit-scrollbar-thumb {
    background: lightgrey;
}


body{
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    font-weight: 700;

}

/*****************************************/



.add-plant-div, .plant-display-div{

    align-content: center;
    text-align: center;
    margin: auto;
}

.add-plant-div{

    height: 70vh;
}

.add-plant-input{
height: 15%;
    border: none;
    padding: 1%;
    border-bottom: 2px solid lightgrey;
    transition: 0.3s ease;
    outline: none;

}

.add-plant-input:active, .add-plant-input:focus{
border-bottom: 2px solid rebeccapurple;

}

.plant-display-div{
    height: 95vh;
    min-height: 330px;
    overflow-y: auto;
}

        .display-categorize-button{
            color: rebeccapurple;
            font-weight: 700;
            margin-top: 1%;
            height: 15%;
            cursor: pointer;
            outline: none;
            border: none;

        }

        .display-categorize-button:hover, .display-categorize-button:focus{
            color: lightgrey;
            outline: none;


        }

.radio-container{
    display: flex;
    flex-direction: row;
    height: 20%;
    text-align: center;
    align-content: center;
    margin-top: 10%;

}

.radio-div{
    height: 50%;
    margin: auto;

}

.add-plant-button{
    height: 15%;
    width: 50%;
    margin: auto;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: 0.2s ease;
    color: rebeccapurple;
    outline: none;
    margin-top: 2%;
    border: 1px solid lightgrey;
}

.form-not-valid{
    color: brown;
    height: 2%;
    width: 100%;
    margin-bottom: 2%;

}

.add-plant-button:hover {
    outline: none;
}


.add-plant-button:hover{
    color: lightgrey;

}





@media screen and (max-width: 899px){
    .add-plant-div{
        height: 50vh;
    }

    .add-plant-input{
        height: 15%;
        border: none;
        padding: 1%;
        border-bottom: 2px solid lightgrey;
        transition: 0.3s ease;

    }

    .add-plant-button{
        height: 20%;

    }

    .plant-display-div{
        height: 45vh;

    }


}


.plant-div{
    height: 60%;
    border-bottom: 1px solid lightgrey;
    width: 50%;
    margin: auto;


}
.plant-name-div, .plant-description-div, .plant-watering-div{
    height: 10%;
    margin-top: 2%;
    font-size: 0.7em;

}

.plant-img-div{
    height: 50%;
    margin-top: 5%;
}

.plant-img{
    max-width: 65%;
    max-height: 65%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.plant-edit-button, .plant-remove-button{
    width: 48%;
    border: 1px solid lightgrey;
    color: rebeccapurple;
    font-weight: 700;

}

button{
    background: none;
    border: none;
    cursor: pointer;
}


/*------EDIT PLANT SECTION-----*/

.edit-plant-div{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0,0,0,0.85);
    top: 0;
    left: 0;
    transition: 0.5s ease;
    animation: fadeInRight;
}


.edit-plant-content{
    height: 50%;
    background-color: #eaeaea;
    color: rebeccapurple;
    margin: auto;
    margin-top: 10%;
    transition: 0.3s ease;
    animation: fadeInRight;
    text-align: center;
    padding-top: 7%;


}

.edit-plant-button{
     margin: auto;
     height: 10%;
     color: rebeccapurple;
     align-content: center;
     margin-top: 5%;
     font-weight: 700;
 }

.edit-plant-button:hover{
    color: lightgrey;
}
/*****KEYFRAMES********/

@-webkit-keyframes fadeInRight {
    from {right: -25vw;opacity: 0;}
    to {right: -0vw;opacity: 1;}
}

@keyframes fadeInRight {
    from {right: -25vw;opacity: 0;}
    to {right: -0vw;opacity: 1;}
}


/***CHECKBOXES***/

ul{
    list-style-type: none;
    width: 220px;
    margin: auto;
    color: rebeccapurple;
    font-size: 0.7em;
}

li {
    position: relative;
    padding: 10px;
    padding-left: 40px;
    height:30px;
}

label:before {
    content: "";
    width: 15px;
    height: 15px;
    background: #bada55;
    position: absolute;
    left: 7px;
    top: calc(50% - 13px);
    box-sizing: border-box;
    border-radius: 50%;
}

input[type="radio"] {
    opacity: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: 10%;
    cursor: pointer;
}

.bullet {
    position: relative;
    width: 35px;
    height: 35px;
    left: -3px;
    top: -8px;
    border: 3px solid #bada55 ;
    opacity: 0;
    border-radius: 50%;
}

input[type="radio"]:checked ~ .bullet {
    position:absolute;
    opacity: 1;
    animation-name: explode;
    animation-duration: 0.350s;
}

.line {
    position: absolute;
    width: 2px;
    height: 1px;
    background-color: #bada55 ;
    opacity:0;
}

.line.zero {
    left: 11px;
    top: -21px;
    transform: translateY(20px);
    width: 2px;
    height: 10px;
}

.line.one {
    right: -7px;
    top: -11px;
    transform: rotate(-55deg) translate(-9px);
}

.line.two {
    right: -20px;
    top: 11px;
    transform: translate(-9px);
}

.line.three {
    right: -8px;
    top: 35px;
    transform: rotate(55deg) translate(-9px);
}

.line.four {
    left: -8px;
    top: -11px;
    transform: rotate(55deg) translate(9px);
}

.line.five {
    left: -20px;
    top: 11px;
    transform: translate(9px);
}

.line.six {
    left: -8px;
    top: 35px;
    transform: rotate(-55deg) translate(9px);
}

.line.seven {
    left: 11px;
    bottom: -21px;
    transform: translateY(-20px);
    width: 2px;
    height: 10px;
}

input[type="radio"]:checked ~ .bullet .line.zero{
    animation-name:drop-zero;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.one{
    animation-name:drop-one;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.two{
    animation-name:drop-two;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.three{
    animation-name:drop-three;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.four{
    animation-name:drop-four;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.five{
    animation-name:drop-five;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.six{
    animation-name:drop-six;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.seven{
    animation-name:drop-seven;
    animation-delay: 0.100s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

@keyframes explode {
    0%{
        opacity: 0;
        transform: scale(10);
    }
    60%{
        opacity: 1;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes drop-zero {
    0% {
        opacity: 0;
        transform: translateY(20px);
        height: 10px;
    }
    20% {
        opacity:1;
    }
    100% {
        transform: translateY(-2px);
        height: 0px;
        opacity:0;
    }
}

@keyframes drop-one {
    0% {
        opacity: 0;
        transform: rotate(-55deg) translate(-20px);
        width: 10px;
    }
    20% {
        opacity:1;
    }
    100% {
        transform: rotate(-55deg) translate(9px);
        width: 0px;
        opacity:0;
    }
}

@keyframes drop-two {
    0% {
        opacity: 0;
        transform: translate(-20px);
        width: 10px;
    }
    20% {
        opacity:1;
    }
    100% {
        transform: translate(9px);
        width: 0px;
        opacity:0;
    }
}

@keyframes drop-three {
    0% {
        opacity: 0;
        transform: rotate(55deg) translate(-20px);
        width: 10px;
    }
    20% {
        opacity:1;
    }
    100% {
        transform: rotate(55deg) translate(9px);
        width: 0px;
        opacity:0;
    }
}

@keyframes drop-four {
    0% {
        opacity: 0;
        transform: rotate(55deg) translate(20px);
        width: 10px;
    }
    20% {
        opacity:1;
    }
    100% {
        transform: rotate(55deg) translate(-9px);
        width: 0px;
        opacity:0;
    }
}

@keyframes drop-five {
    0% {
        opacity: 0;
        transform: translate(20px);
        width: 10px;
    }
    20% {
        opacity:1;
    }
    100% {
        transform: translate(-9px);
        width: 0px;
        opacity:0;
    }
}

@keyframes drop-six {
    0% {
        opacity: 0;
        transform: rotate(-55deg) translate(20px);
        width: 10px;
    }
    20% {
        opacity:1;
    }
    100% {
        transform: rotate(-55deg) translate(-9px);
        width: 0px;
        opacity:0;
    }
}

@keyframes drop-seven {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        height: 10px;
    }
    20% {
        opacity:1;
    }
    100% {
        transform: translateY(2px);
        height: 0px;
        opacity:0;
    }
}


input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 1;

}



